table table-striped table-bordered{
    border-radius: 10px;
    padding: 10px;

}

.buttonclass{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.text-center{
    font-size: 28px;
}

.cf{
    
vertical-align: middle;
justify-content: center;
padding-bottom: 20px;
padding-top: 0;
}

.logo{
  margin-left: 465px;
  padding-bottom:0 ;
  width: 30%;
}

.sassy{
    display: flex;
    padding-top: 10px;
    /* padding: 0; */
    /* justify-content: space-around; */
}

.row{
    /* padding-top: 30px; */
    padding-bottom: 0;
    width: 100%;
}

.tabs{
    display: flex;
}